body{
    font-family: 'Arial', Arial, Helvetica, sans-serif;
    background-image: url(https://th.bing.com/th/id/R.9b72bb603cc9d943a01f4e603cfb4727?rik=mNFGKWaXS%2fYm%2bQ&riu=http%3a%2f%2fn.sinaimg.cn%2fsinakd20220115ac%2f586%2fw1919h1067%2f20220115%2f3d4e-7d0ceeca40adf3311f7d0caaa5b90d8b.jpg&ehk=8BMT4PIGhUmihBJ52PJEvQGaRrnSq0W%2bMw6Jqm2EzRk%3d&risl=&pid=ImgRaw&r=0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
}
nav {
    background-color: #004225;
    padding: 1rem;
    display: flex;
    justify-content: center;

}


nav a{
    padding: 0px 20px;
    font-size: 1.7rem;
    color: white;
    text-decoration: none;
    margin-bottom: 0;

    

}

nav a:hover{
    color: rgb(123, 255, 218);
    text-decoration: underline;
}

.zero h1{
    font-weight:700;
    font-size: 50px;
    padding-bottom:2rem ;
    text-align: center;
    
}
.zero p{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    text-align: justify; 
    
}



.zero{
    
    padding: 2rem;
    padding-bottom: 10rem;
    margin: 0;
    color: white ;
}
h1{
    border:0px  ;
    background-color:#FFB000 ;
    border-radius: 3rem;
    padding: 2rem;
    box-shadow:5px 7px #d7bda3;
}

.yu{
    display: flex;
    justify-content: center;
    gap: 4rem;
    font-size: 3rem;
    padding: 10px 0;
    margin-top:3rem;
 }
.button1{
    padding:15px 5px;
    font-size: 2.5rem;
    font-weight: 700;
    color: #ffffff;
    background-color: #5ca989;
    border-radius: 15px;
    border: 0px;
    box-shadow: 4px 6px #5a886e;
    cursor: pointer;
}
.button1:hover{
    background-color: #57806a;
    box-shadow: 4px 6px #385645;;
}
.button1{
    opacity: 1;
    transition: 0.4s;
}
.button1{
    box-shadow: 4px 6px  #5a886e;
}

.button1:active:hover{
    box-shadow: px 7px 3px 4px #385645;
    background-color: #57806a;
    opacity: 0.4;
    transition: 0s;
   }
body{
    text-shadow:4px 5px 3px #004225;
}

img{
    height:19rem;
    padding-top: 2rem;

    }
.ty{
    
        display:flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding-bottom: 0rem ;
        
}

       














