body{
    font-family: 'Arial', Arial, Helvetica, sans-serif;
}
nav {
    background-color: #004225;
    padding: 1rem;
    display: flex;
    justify-content: center;

}


nav a{
    padding: 0px 20px;
    font-size: 1.7rem;
    color: white;
    text-decoration: none;
    margin-bottom: 0;

    

}

nav a:hover{
    color: rgb(123, 255, 218);
    text-decoration: underline;
}


.yi{
    text-align: center;
    margin: 0;
    padding: 0.5rem;
    font-size: 50px;
    -webkit-text-stroke: 0.5px rgba(43, 40, 40, 0.227);
    padding-top: 2rem;
}

.qwq{
    padding-top:1.5rem;
    padding-left: 2rem;
    margin: 0;

}
h3{
    font-size: 2.2rem;
}
p{
    font-size: 1.8rem;
}
header{
    background:linear-gradient(#FFB000,#FFCF9D, #F5F5DC) ;
    padding-bottom: 5rem;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.7px rgba(255, 255, 255, 0);
    padding-bottom: 12rem;
    text-shadow:4px 5px 3px #004225;

}
body{
text-shadow:4px 5px 3px #004225;
}